
    .redirect{
      border: 4px solid $shopee-orange;
      width: 40%;
      margin: 0 auto;
      margin-top: 10%;
      height: 20rem;
      display: flex;  
      flex-direction: column;
      justify-content: center;
      text-align: center;
      opacity: 0;
      
      animation: amin-redirect 0.2s ease-in forwards;
        .link-size{
          font-size: 14pt;
        }
        span{
          font-size: 14pt;
          width: 100%;
          height: 2rem;
        }
      }
    
      @keyframes amin-redirect{
        to{
          opacity: 1
        }
      }
    
      
    
    
      .nav {
        width: 100%;
        background: $shopee-orange;
        height: 5rem;
        display: flex;
        
        &__logo {
          width: fit-content;
          height: 4rem;
          display: flex;
    
          align-items: center;
          &__icon {
            
            background: url("../../assets/sshopeelogopng.png") no-repeat;
            background-size: 90px;
            width: 7rem;
            height: 70%;
            cursor: pointer;
          }
        }
    
        .container {
          
          width: 100%;
          height: 100%;
          padding-top: 5px;
          display: flex;  
          justify-content: right;
          &__bag {
            width: 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            &__icon{
              cursor: pointer;
              background: url('../../assets/shopping-bag.png') no-repeat;
              background-size: 30px;
              display: block;
              width: 100%;
              height: 60%;
            }
          }
    
            &__menu {
            width: 100%;
            height: 100%;
            max-width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &__icon {
              background: url("../../assets/menu.png") no-repeat;
              background-size: 25px;
              display: block;
              width: 40%;
              height: 40%;
              cursor: pointer;
            }
          }
        }
    
    
        .navigator{
          position: absolute;
          width: 30%;
          height: 30%;
          min-height: 15rem;
          max-height: 15rem;
          background: $beige;
          border: 1px solid black;
          right: 0px;
          top: 50px;
          animation: showNavigator 0.2s ease-in forwards;
          opacity: 0;
          z-index: 15;
          display: grid;
          grid-template-rows: 31% 30% 30%;
          grid-template-columns: 100%;
          
          .menu-info{
            width: 95%;
            height: 50%;
            min-height: 5rem;
            display: flex;
            align-items: center;
            font-size: large;
            
    
            span{
              width: 95%;
              height: 20%;
              user-select: none;
              display: flex;
              font-size: large;
              justify-content: flex-end;
              border-bottom: 1.5px solid black;
              line-height: 1rem;
              padding-bottom: 0.5rem;
              margin-left: 1rem;
            }
          }
    
          .menu-men{
            width: 100%;
            height: 100%;
            
            text-align: center;
           
            span{
              font-size: large;
            
              .link{
                font-size: 18pt;
              }
            }
          }
    
          .menu-women{
         
            width: 100%;
            height: 100%;
           
            text-align: center;
           
            span{
              font-size: large;
            
              .link{
                font-size: 18pt;
              }
            }
          }
        }
      
      @keyframes showNavigator{
        to{
          opacity: 1
        }
      }
    
      }

      .Bag{
        
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .display-crumbs{
          width: 100%;
          height: fit-content;
        }
    
        .bag-wrapper{
          width: 100%;
          height: fit-content;
          min-height: 5rem;
          padding-bottom: 2rem;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: 25rem;
          grid-auto-rows: 25rem;
          grid-auto-columns: 100%;
    
        }
    
        .item-container{
          
          width: 100%;
          height: 100%;
          padding: 1rem;
          display: flex;
          background: linear-gradient($shopee-orange, $beige);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          min-width: 12rem;
          max-width: 15rem;
          margin: 0 auto;
          flex-direction: column;
          span{font-size: 10pt;}
         
        }
    
        .image-container{
          width: 100%;
          height: 50%;
          overflow: hidden;
          justify-self: center;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 15rem;
            min-width: 12rem;
          }
        }
    
        .item-start{
          width: 100%;
          .item-model{
           span{
             font-size: 8pt;
           }
           max-height: 1rem;
          }
        }
    
      
    
        
        .item-price{
          position: relative;
          width: 100%;
          text-align: end;
          height: fit-content;
          bottom: -1.2rem;
    
          left: 1rem;
        }
        .total{
          user-select: none;
        }
    
        .delete{
          position: relative;
          cursor: pointer;
          color: $shopee-orange;
          text-decoration: underline;
          bottom: -4rem;
          left: 7rem;
          width: fit-content;
          :active{
            outline: none;
          }
        }
    
        .change-amount{
          cursor: pointer;
        }
    
        .select{
          border: 1px solid $shopee-orange;
          background: none;
          border-radius: 10px;
          outline: none;
          cursor: pointer;
          
          .first-option{
            font-size: 14pt;
            text-align: center;
            background: red;
          }
        }
    
        .order{
          width: 50%;
          height: 2rem;
          max-width:10rem;
          margin: 0 auto;
          border: none;
          background: $shopee-orange;
          border-radius: 10px;
          position: relative;
          bottom: 1rem;
          color: $beige;
          cursor: pointer;
           transition: background 0.1s ease-in; 
          &:active{
             background: orange;
            transform: translate(-0%, -3%);
           outline: none;  
           }
        
        }
      } 
    
      .order-complete{
        width: 100%;
        height: 100%;
        min-height: 20rem;
        margin-top: 10rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
          display: block;
          &:nth-child(3){
            span{
              display: block;
              color: $shopee-orange;
            }
          }
        }
    
        i{
          color: $shopee-orange;
          text-decoration: underline;
          cursor: pointer;
        }
        
      }
    
    
      .home{
        width: 100%;
        min-height: 93vh;
        background: $beige;
        max-height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

      }
    
      .filter{
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
        padding: 0.5rem;
        display: flex;
        justify-content: right;
        &__container{
          width: 100%;
          height: 100%;
          border: 2px solid $shopee-orange;
          display: flex;
          max-width: 25rem;
        }
    
        .splide-container{
          width: 100%;
          height: 100%;
          max-width: 96%;
          padding: 0.4rem;
          overflow: hidden;
          display: flex;
          align-items: center;
        }
    
        .asplide{
          width: 100%;
          min-width: fit-content;
          height: 100%;
          display: flex;
          max-width: fit-content;
          background: $shopee-orange;
          border-radius: 10px;
          cursor: pointer;
          padding: 5px;
          .attr-span{
           padding-right: 10px;
            padding-left: 10px;
          }
    
          .rm-b{
            align-self: center;
            background: url('../../assets/close.png') no-repeat;
            background-position: center;
            background-size: 15px;
            display: block;
            width: 15px;
            height: 15px;
          }
        }
    
        &__icon{
          background: url('../../assets/filter.png') no-repeat;
          background-size: 25px;
          width: 100%;
          height: 100%;
          
          max-width: 3rem;
          min-width: 3rem;
          background-position: center;
          border-left: 2px solid $shopee-orange;
          cursor: pointer;
        }
    
      }
      

       .filter-container{
          border: 2px solid $shopee-orange;
          border-radius: 10px;
          opacity: 1;
          width: 15rem;
          height: 15rem;
          z-index: 10;
          background: $beige;
          position: absolute;
          top:  10rem;
          height: fit-content;
          
          
          ul{
            list-style: none;
            text-indent: 1rem;
           
           padding: 1rem;
            li{
              padding-bottom: 0.2rem;
              border-bottom: 1px solid black;
              width: 60%;
              cursor: pointer;
            }
          }


        }

        

        
      
    
    
      
    
      .women{
        
        width: 100%;
        height: fit-content;
        .women-intro{
          font-family: $Roboto;
          font-size: 18pt;
          width: 75%;
          height: 5rem;
          display: flex;
          margin-left: 1rem;
          align-items: center;
          border-bottom: 2px solid $shopee-orange;
        }
    
        .stock-women{
          margin-top: 1rem;
        }
      }
    
    
      .men{
        
        width: 100%;
        height: fit-content;
        
        .men-intro{
          font-family: $Roboto;
          font-size: 18pt;
          width: 75%;
          height: 5rem;
          display: flex;
          margin-left: 1rem;
          align-items: center;
          border-bottom: 2px solid $shopee-orange;
        }
    
        .stock-men{
          margin-top: 1rem;
        }
      }
    
      .breadcrumbs{
        display: flex;
        height: 2.5rem;
        width: 100%;
    
        
    .fixtext{
        text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
    }
        .crumb-container{
          width: fit-content;
          
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          display: flex;
          
          .bread-id{
          align-self: center;  
          display: inline-block;
          }
    
        }
      }
    
      .link:visited{
        color: $shopee-orange;
        text-decoration: none;
        text-decoration-style: none;
      }
      .link{
        text-decoration: none;
      }
    
    
      .error-container{
        width: 100%;
        height: 15rem;
        
        margin-top: 50%;
        display: flex;
    
        .error-text{
          display: flex;
          flex-direction: column;
    
          width: 100%;
          .oops{
            width: 100%;
            height: 5rem;        
            height: fit-content;
            text-indent: 1rem;
            font-size: 24pt;
          }
    
          .whereareyou{
            width: 100%;
            height: 3rem;
            font-size: 18pt;
            text-align: center;
          }
    
          .goback{
            width: 100%;
            text-align: center;
          }
        }
      }
    
    
    
    
      
    
  