@font-face {
  font-family: 'Duru Sans', sans-serif;
  src: url("../fonts/DuruSans-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Light', sans-serif;
  src: url("../../style/fonts/Roboto-Light.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-family: "Duru Sans", sans-serif;
  font-size: 12pt;
  box-sizing: border-box; }

body {
  background-color: #F8EDEB; }

.hider {
  display: none; }

.home-loader {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home-loader img {
    width: 150px;
    margin-top: 1rem; }

.display-error {
  width: fit-content;
  height: fit-content;
  min-width: 5rem;
  min-height: 3rem;
  background: #f72c2c;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  color: #F8EDEB;
  opacity: 0;
  animation: display-error 0.4s ease-in forwards;
  user-select: none; }

@keyframes display-error {
  to {
    opacity: 1; } }

.cart-button {
  width: 100%;
  height: 100%;
  border-radius: 5pt;
  min-height: 3rem;
  max-height: 3rem;
  max-width: 16rem;
  margin-top: 1rem;
  background: #EC6D19;
  border: none;
  color: #F8EDEB;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem; }
  .cart-button:hover {
    background: #d49623;
    transition: background 0.2s ease-out; }

.nav {
  width: 100vw;
  height: 10rem;
  background: #EC6D19; }

.redirect {
  border: 4px solid #EC6D19;
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: amin-redirect 0.2s ease-in forwards; }
  .redirect .link-size {
    font-size: 14pt; }
  .redirect span {
    font-size: 14pt;
    width: 100%;
    height: 2rem; }

@keyframes amin-redirect {
  to {
    opacity: 1; } }

.nav {
  width: 100%;
  background: #EC6D19;
  height: 5rem;
  display: flex; }
  .nav__logo {
    width: fit-content;
    height: 4rem;
    display: flex;
    align-items: center; }
    .nav__logo__icon {
      background: url("../../assets/sshopeelogopng.png") no-repeat;
      background-size: 90px;
      width: 7rem;
      height: 70%;
      cursor: pointer; }
  .nav .container {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: right; }
    .nav .container__bag {
      width: 2rem;
      height: 100%;
      display: flex;
      align-items: center; }
      .nav .container__bag__icon {
        cursor: pointer;
        background: url("../../assets/shopping-bag.png") no-repeat;
        background-size: 30px;
        display: block;
        width: 100%;
        height: 60%; }
    .nav .container__menu {
      width: 100%;
      height: 100%;
      max-width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .nav .container__menu__icon {
        background: url("../../assets/menu.png") no-repeat;
        background-size: 25px;
        display: block;
        width: 40%;
        height: 40%;
        cursor: pointer; }
  .nav .navigator {
    position: absolute;
    width: 30%;
    height: 30%;
    min-height: 15rem;
    max-height: 15rem;
    background: #F8EDEB;
    border: 1px solid black;
    right: 0px;
    top: 50px;
    animation: showNavigator 0.2s ease-in forwards;
    opacity: 0;
    z-index: 15;
    display: grid;
    grid-template-rows: 31% 30% 30%;
    grid-template-columns: 100%; }
    .nav .navigator .menu-info {
      width: 95%;
      height: 50%;
      min-height: 5rem;
      display: flex;
      align-items: center;
      font-size: large; }
      .nav .navigator .menu-info span {
        width: 95%;
        height: 20%;
        user-select: none;
        display: flex;
        font-size: large;
        justify-content: flex-end;
        border-bottom: 1.5px solid black;
        line-height: 1rem;
        padding-bottom: 0.5rem;
        margin-left: 1rem; }
    .nav .navigator .menu-men {
      width: 100%;
      height: 100%;
      text-align: center; }
      .nav .navigator .menu-men span {
        font-size: large; }
        .nav .navigator .menu-men span .link {
          font-size: 18pt; }
    .nav .navigator .menu-women {
      width: 100%;
      height: 100%;
      text-align: center; }
      .nav .navigator .menu-women span {
        font-size: large; }
        .nav .navigator .menu-women span .link {
          font-size: 18pt; }

@keyframes showNavigator {
  to {
    opacity: 1; } }

.Bag {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column; }
  .Bag .display-crumbs {
    width: 100%;
    height: fit-content; }
  .Bag .bag-wrapper {
    width: 100%;
    height: fit-content;
    min-height: 5rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25rem;
    grid-auto-rows: 25rem;
    grid-auto-columns: 100%; }
  .Bag .item-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    background: linear-gradient(#EC6D19, #F8EDEB);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 12rem;
    max-width: 15rem;
    margin: 0 auto;
    flex-direction: column; }
    .Bag .item-container span {
      font-size: 10pt; }
  .Bag .image-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    justify-self: center; }
    .Bag .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 15rem;
      min-width: 12rem; }
  .Bag .item-start {
    width: 100%; }
    .Bag .item-start .item-model {
      max-height: 1rem; }
      .Bag .item-start .item-model span {
        font-size: 8pt; }
  .Bag .item-price {
    position: relative;
    width: 100%;
    text-align: end;
    height: fit-content;
    bottom: -1.2rem;
    left: 1rem; }
  .Bag .total {
    user-select: none; }
  .Bag .delete {
    position: relative;
    cursor: pointer;
    color: #EC6D19;
    text-decoration: underline;
    bottom: -4rem;
    left: 7rem;
    width: fit-content; }
    .Bag .delete :active {
      outline: none; }
  .Bag .change-amount {
    cursor: pointer; }
  .Bag .select {
    border: 1px solid #EC6D19;
    background: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer; }
    .Bag .select .first-option {
      font-size: 14pt;
      text-align: center;
      background: red; }
  .Bag .order {
    width: 50%;
    height: 2rem;
    max-width: 10rem;
    margin: 0 auto;
    border: none;
    background: #EC6D19;
    border-radius: 10px;
    position: relative;
    bottom: 1rem;
    color: #F8EDEB;
    cursor: pointer;
    transition: background 0.1s ease-in; }
    .Bag .order:active {
      background: orange;
      transform: translate(0%, -3%);
      outline: none; }

.order-complete {
  width: 100%;
  height: 100%;
  min-height: 20rem;
  margin-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .order-complete span {
    display: block; }
    .order-complete span:nth-child(3) span {
      display: block;
      color: #EC6D19; }
  .order-complete i {
    color: #EC6D19;
    text-decoration: underline;
    cursor: pointer; }

.home {
  width: 100%;
  min-height: 93vh;
  background: #F8EDEB;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; }

.filter {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: right; }
  .filter__container {
    width: 100%;
    height: 100%;
    border: 2px solid #EC6D19;
    display: flex;
    max-width: 25rem; }
  .filter .splide-container {
    width: 100%;
    height: 100%;
    max-width: 96%;
    padding: 0.4rem;
    overflow: hidden;
    display: flex;
    align-items: center; }
  .filter .asplide {
    width: 100%;
    min-width: fit-content;
    height: 100%;
    display: flex;
    max-width: fit-content;
    background: #EC6D19;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px; }
    .filter .asplide .attr-span {
      padding-right: 10px;
      padding-left: 10px; }
    .filter .asplide .rm-b {
      align-self: center;
      background: url("../../assets/close.png") no-repeat;
      background-position: center;
      background-size: 15px;
      display: block;
      width: 15px;
      height: 15px; }
  .filter__icon {
    background: url("../../assets/filter.png") no-repeat;
    background-size: 25px;
    width: 100%;
    height: 100%;
    max-width: 3rem;
    min-width: 3rem;
    background-position: center;
    border-left: 2px solid #EC6D19;
    cursor: pointer; }

.filter-container {
  border: 2px solid #EC6D19;
  border-radius: 10px;
  opacity: 1;
  width: 15rem;
  height: 15rem;
  z-index: 10;
  background: #F8EDEB;
  position: absolute;
  top: 10rem;
  height: fit-content; }
  .filter-container ul {
    list-style: none;
    text-indent: 1rem;
    padding: 1rem; }
    .filter-container ul li {
      padding-bottom: 0.2rem;
      border-bottom: 1px solid black;
      width: 60%;
      cursor: pointer; }

.women {
  width: 100%;
  height: fit-content; }
  .women .women-intro {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18pt;
    width: 75%;
    height: 5rem;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    border-bottom: 2px solid #EC6D19; }
  .women .stock-women {
    margin-top: 1rem; }

.men {
  width: 100%;
  height: fit-content; }
  .men .men-intro {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18pt;
    width: 75%;
    height: 5rem;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    border-bottom: 2px solid #EC6D19; }
  .men .stock-men {
    margin-top: 1rem; }

.breadcrumbs {
  display: flex;
  height: 2.5rem;
  width: 100%; }
  .breadcrumbs .fixtext {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .breadcrumbs .crumb-container {
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex; }
    .breadcrumbs .crumb-container .bread-id {
      align-self: center;
      display: inline-block; }

.link:visited {
  color: #EC6D19;
  text-decoration: none;
  text-decoration-style: none; }

.link {
  text-decoration: none; }

.error-container {
  width: 100%;
  height: 15rem;
  margin-top: 50%;
  display: flex; }
  .error-container .error-text {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .error-container .error-text .oops {
      width: 100%;
      height: 5rem;
      height: fit-content;
      text-indent: 1rem;
      font-size: 24pt; }
    .error-container .error-text .whereareyou {
      width: 100%;
      height: 3rem;
      font-size: 18pt;
      text-align: center; }
    .error-container .error-text .goback {
      width: 100%;
      text-align: center; }

@media only screen and (min-width: 1201px) {
  .display-stock {
    width: 70%;
    height: fit-content;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
    gap: 1rem; }
    .display-stock .card-holder {
      display: flex;
      width: 30%;
      padding: 0.2rem;
      max-width: 15rem;
      height: 25rem; }
    .display-stock .card {
      display: flex;
      flex-direction: column;
      background: linear-gradient(#F8EDEB, white); }
    .display-stock .splide-holder {
      width: 100%;
      flex: 85%; }
      .display-stock .splide-holder .splide-wave {
        width: 100%; }
        .display-stock .splide-holder .splide-wave img {
          object-fit: cover;
          min-height: 18.7rem;
          max-height: 18.7rem;
          width: 100%;
          height: 100%; }
    .display-stock .display-link {
      color: black;
      text-decoration: none; }
    .display-stock .item-info {
      height: fit-content;
      min-height: 4rem;
      max-height: 4rem; }
      .display-stock .item-info .item-brand {
        font-size: 12pt;
        display: block; }
      .display-stock .item-info .item-model {
        font-size: 10pt; }
    .display-stock .option-holder .price-right {
      text-align: right; }
  .Item {
    width: 100%;
    height: 100%;
    border: 2px solid black; } }

@media only screen and (min-width: 627px) and (max-width: 1199px) {
  .display-stock {
    width: 80%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
    gap: 1rem; }
    .display-stock .card-holder {
      display: flex;
      width: 30%;
      padding: 0.2rem;
      max-width: 15rem;
      min-width: 15rem;
      height: 25rem; }
    .display-stock .card {
      display: flex;
      flex-direction: column;
      background: linear-gradient(#F8EDEB, white); }
    .display-stock .splide-holder {
      width: 100%;
      flex: 75%; }
      .display-stock .splide-holder .splide-wave {
        width: 100%; }
        .display-stock .splide-holder .splide-wave img {
          object-fit: cover;
          min-height: 18.7rem;
          max-height: 18.7rem;
          width: 100%;
          height: 100%; }
    .display-stock .display-link {
      color: black;
      text-decoration: none; }
    .display-stock .item-info {
      flex: 15%;
      height: fit-content;
      min-height: 4rem;
      max-height: 4rem; }
      .display-stock .item-info .item-brand {
        font-size: 12pt;
        display: block; }
      .display-stock .item-info .item-model {
        font-size: 10pt; }
    .display-stock .option-holder .price-right {
      text-align: right; } }

@media only screen and (max-width: 625px) {
  .filter {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    padding: 0.5rem; }
    .filter__container {
      width: 100%;
      height: 100%;
      border: 2px solid #EC6D19;
      display: flex; }
    .filter .splide-container {
      width: 100%;
      height: 100%;
      max-width: 90%;
      padding: 0.4rem;
      overflow: hidden;
      display: flex;
      align-items: center; }
    .filter .asplide {
      width: 100%;
      min-width: fit-content;
      height: 100%;
      display: flex;
      max-width: fit-content;
      background: #EC6D19;
      border-radius: 10px;
      padding: 5px; }
      .filter .asplide .attr-span {
        padding-right: 10px;
        padding-left: 10px; }
      .filter .asplide .rm-b {
        align-self: center;
        background: url("../../assets/close.png") no-repeat;
        background-position: center;
        background-size: 15px;
        display: block;
        width: 15px;
        height: 15px; }
    .filter__icon {
      background: url("../../assets/filter.png") no-repeat;
      background-size: 25px;
      width: 100%;
      height: 100%;
      max-width: 3rem;
      min-width: 3rem;
      background-position: center;
      border-left: 2px solid #EC6D19;
      cursor: pointer; }
  .display-stock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .display-stock .card-holder {
      display: flex;
      padding: 0.2rem;
      max-width: 15rem;
      justify-self: center;
      width: 50%; }
    .display-stock .card {
      display: flex;
      flex-direction: column;
      background: linear-gradient(#F8EDEB, white); }
    .display-stock .splide-holder {
      width: 100%;
      flex: 50%; }
      .display-stock .splide-holder .splide-wave {
        width: 100%; }
        .display-stock .splide-holder .splide-wave img {
          object-fit: cover;
          min-height: 15rem;
          max-height: 15rem;
          width: 100%;
          height: 100%; }
    .display-stock .display-link {
      color: black;
      text-decoration: none;
      flex: 50%; }
    .display-stock .item-info {
      height: fit-content;
      min-height: 4rem;
      max-height: 4rem; }
      .display-stock .item-info .item-brand {
        font-size: 12pt;
        display: block; }
      .display-stock .item-info .item-model {
        font-size: 10pt; }
    .display-stock .option-holder .price-right {
      text-align: right; }
  .Item {
    width: 100%;
    height: 100%;
    min-height: 85vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .Item .img-frame {
      width: 60%;
      height: 25rem;
      align-self: center;
      max-width: 17rem;
      border: 2px solid #EC6D19; }
    .Item .image-selectors {
      display: none; }
    .Item .splide-container {
      height: 100%;
      overflow: hidden; }
    .Item .splide-imgaes {
      height: 100%;
      background: url("../../assets/shopeelogo.jpg") no-repeat;
      background-position: center;
      width: 100%; }
    .Item .img-slide {
      min-width: 100%;
      min-height: 26rem;
      max-width: 100%;
      max-height: 26rem;
      object-fit: cover; }
    .Item .info-item {
      width: 100%;
      min-height: 20rem;
      height: 100%;
      max-width: 25rem;
      align-self: center; }
      .Item .info-item .item-brand {
        display: block;
        font-family: 'roboto'; }
      .Item .info-item .info-brand {
        margin-bottom: 1rem; }
    .Item .class-price .item-price {
      display: none; }
    .Item .class-price .item-show-price {
      text-align: right; }
    .Item .size-outer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .Item .size-outer-container .size-container {
        width: 100%; }
        .Item .size-outer-container .size-container .s-i {
          padding-bottom: 0.4rem;
          border-bottom: 2px solid #EC6D19;
          text-align: center;
          width: 60%;
          max-width: 7rem;
          margin: 0 auto;
          display: block; }
        .Item .size-outer-container .size-container .size {
          height: 4rem;
          display: flex;
          margin-top: 1rem;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 100%; }
          .Item .size-outer-container .size-container .size .sizebox {
            height: 70%;
            width: 50%;
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 2px solid #EC6D19;
            cursor: pointer; }
    .Item .with-size {
      display: flex;
      justify-content: center; }
    .Item .without-size {
      display: flex;
      justify-content: center;
      height: 7rem;
      align-items: flex-end; } }
