





@media only screen and (min-width: 1201px){
  .display-stock{
    width: 70%;
    height: fit-content;
    max-width: 100%;
    margin: 0 auto;
 
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
    
      gap: 1rem;
      .card-holder{
        display: flex;
        width: 30%;
        padding: 0.2rem;
        max-width: 15rem;
        height: 25rem;
      }

      .card{
      display: flex;
      flex-direction: column;
      background: linear-gradient($beige, white);
      }
      
      .splide-holder{
        width: 100%;
        flex: 85%;
        .splide-wave{
          width: 100%;
          
          img{
            object-fit: cover;
            min-height: 18.7rem;
            max-height: 18.7rem;
            width: 100%;
            height: 100%; 
           
          }
        }
      }
      .display-link{
        color: black;
        text-decoration: none;
        
      }
      .item-info{
        height: fit-content;
        min-height: 4rem;
        max-height: 4rem;
        
        
        .item-brand{
          font-size: 12pt;
          display: block;
          
        }
        .item-model{
          font-size: 10pt;
         
        }
      }

      .option-holder{
        .price-right{
          text-align: right;
        }
      }
  }


  .Item{
    width: 100%;
    height: 100%;
    border: 2px solid black;
  }

}


@media only screen and (min-width: 627px) and (max-width: 1199px){
  .display-stock{
    width: 80%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
    
      gap: 1rem;
      .card-holder{
        display: flex;
        width: 30%;
        padding: 0.2rem;
        max-width: 15rem;
        min-width: 15rem;
        height: 25rem;
      }

      .card{
      display: flex;
      flex-direction: column;
      background: linear-gradient($beige, white);
      }
      
      .splide-holder{
        width: 100%;
        flex: 75%;
        .splide-wave{
          width: 100%;
          
          img{
            object-fit: cover;
            min-height: 18.7rem;
            max-height: 18.7rem;
            width: 100%;
            height: 100%; 
           
          }
        }
      }
      .display-link{
        color: black;
        text-decoration: none;
        
      }
      .item-info{
        flex: 15%;
        height: fit-content;
        min-height: 4rem;
        max-height: 4rem;
        
        
        .item-brand{
          font-size: 12pt;
          display: block;
          
        }
        .item-model{
          font-size: 10pt;
         
        }
      }

      .option-holder{
        .price-right{
          text-align: right;
        }
      }


  }

}







@media only screen and (max-width: 625px) {


  .filter{
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    padding: 0.5rem;
    &__container{
      width: 100%;
      height: 100%;
      border: 2px solid $shopee-orange;
      display: flex;
      
    }

    .splide-container{
      width: 100%;
      height: 100%;
      max-width: 90%;
      padding: 0.4rem;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .asplide{
      width: 100%;
      min-width: fit-content;
      height: 100%;
      display: flex;
      max-width: fit-content;
      background: $shopee-orange;
      border-radius: 10px;
      padding: 5px;
      .attr-span{
       padding-right: 10px;
        padding-left: 10px;
      }

      .rm-b{
        align-self: center;
        background: url('../../assets/close.png') no-repeat;
        background-position: center;
        background-size: 15px;
        display: block;
        width: 15px;
        height: 15px;
      }
    }

    &__icon{
      background: url('../../assets/filter.png') no-repeat;
      background-size: 25px;
      width: 100%;
      height: 100%;
      
      max-width: 3rem;
      min-width: 3rem;
      background-position: center;
      border-left: 2px solid $shopee-orange;
      cursor: pointer;
    }

  }


  .display-stock{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card-holder{
        display: flex;
       
        padding: 0.2rem;
        max-width: 15rem;
        justify-self: center;
        width: 50%;
      }

      .card{
      display: flex;
      flex-direction: column;
      background: linear-gradient($beige, white);
     
    }

      .splide-holder{
        width: 100%;
      
        flex: 50%;
        .splide-wave{
          width: 100%;
        
          img{
            object-fit: cover;
            min-height: 15rem;
            max-height: 15rem;
            
            width: 100%;
            height: 100%;
          }
        }
      }
      .display-link{
        color: black;
        text-decoration: none;
        flex: 50%;
      }
      .item-info{
       
        height: fit-content;
        min-height: 4rem;
        max-height: 4rem;
        
        
        .item-brand{
          font-size: 12pt;
          display: block;
          
        }
        .item-model{
          font-size: 10pt;
         
        }
      }

      .option-holder{
       
        .price-right{
          text-align: right;
        }
      }


  }


  .Item{
    width: 100%;
    height: 100%;
    min-height: 85vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .img-frame{
      width: 60%;
      height: 25rem;
      align-self: center;
      max-width: 17rem;
      border: 2px solid $shopee-orange;
    }

    .image-selectors{
      display: none;
    }
    .splide-container{
      height: 100%;
      overflow: hidden;
    }

    .splide-imgaes{
      height: 100%;
      background: url('../../assets/shopeelogo.jpg') no-repeat;
      background-position: center;
      width: 100%;
    }

    .img-slide{
      min-width: 100%;
      min-height: 26rem;
      max-width: 100%;
      max-height: 26rem;
      object-fit: cover;
    }



    .info-item{

      width: 100%;
      min-height: 20rem;
      height: 100%;
      max-width: 25rem;
      align-self: center;
      .item-brand{
        display: block;
        font-family: 'roboto';
      }
      
      .info-brand{
        margin-bottom: 1rem;
      }

    }

    .class-price{
      .item-price{
        display: none;
      }
      .item-show-price{
        text-align: right;
      }
    }

    .size-outer-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     
      .size-container{
        width: 100%;
        .s-i{
          padding-bottom: 0.4rem;
          border-bottom: 2px solid $shopee-orange;
          text-align: center;
          width: 60%;
          max-width: 7rem;
          margin: 0 auto;
          display: block;
        }

        .size{
          height: 4rem;
          display: flex;
          margin-top: 1rem;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 100%;
          .sizebox{
            height: 70%;
            width: 50%;
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 2px solid $shopee-orange;
            cursor: pointer;
          }
        }
      }
    }

    .with-size{
      display: flex;
    
      justify-content: center;
    }
    .without-size{
      display: flex;
      justify-content: center;
      height: 7rem;
      align-items: flex-end;
    }
  }



}



